.container  
  %h1.page-header.jumbotron Listing products
  .spacer20
  - categories.each do |category|
    %h3.page-header 
      %b Category: 
      #{category.name}
    
    %br
    %table
      %tr 
        %th.col-md-2 Title
        %th.col-md-5 Description
        %th.col-md-1 Price
        %th.col-md-4
        
    
      - category.products.each do |product|
        %tr
          %td= product.title
          %td= product.description
          %td= product.price
          %td.btn-group.btn-group-sm
            = link_to 'Show', category_product_path(product, category_id: product.category_id), class: "btn btn-primary"
            - if user_signed_in?
              - if current_user == product.user or current_user.admin?
                = link_to 'Edit', edit_category_product_path(product, category_id: product.    category_id), class: "btn btn-warning"   
                = link_to 'Destroy', category_product_path(product, category_id: product.category_id), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }
            %hr
                
            
  
  
  